<!DOCTYPE html>
<html dir="%DIR%" lang="%LANG%">
    <head>
        <meta charset="utf-8" />
        <title>%NAME%</title>
        <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
        %ICONS%<link href="%ICON_SRC%" rel="icon" sizes="%ICON_SIZES%" type="%ICON_TYPE%">
        <meta content="%DESCRIPTION%" name="description">
        %MANIFEST%<link href="Manifest/manifest.json" rel="manifest">
        <script src="index.mjs" type="module"></script>
    </head>
    <body></body>
</html>
